# Copy this file to .env and add your token
HF_TOKEN=your_hugging_face_token_here

# This project runs 100% locally with Ollama
# We use a dummy key to satisfy DeepEval's internal checks
Open_API_KEY="sk-local-ollama-setup"


